root = true

[*.cs]
# Prefer explicit types instead of var for readability.
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = false
csharp_style_var_elsewhere = false

dotnet_diagnostic.IDE0008.severity = warning
